@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap');

:root{
    --primary-color: #3751FF;
    --primary-text : #1E266D;
    --background-dark : #000842;
    --offwhite-color: #f4faff;
    --offwhite-2-color: #f7fbff;
    --cream-color : #fff9ea;
    --white-color : white;
}
body{
    font-size : 16px ;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  max-width: 100%;
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.75rem;
}
h4{
    font-size: 1.4rem;
}
h5{
    font-size: 1.25rem;
}
.App_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
  }
.flex-row{
    display : flex ;
    flex-direction : row;
}
.flex-column{
    display : flex ;
    flex-direction : column;
}
.flex-row-center{
    display : flex ;
    flex-direction : row;
    align-items: center;
}
.flex-column-center{
    display : flex ;
    flex-direction : column;
    align-items: center;
}
.primary-cta{
    background: var(--primary-color);
    color : var(--white-color);
    font-size: 1.3rem;
    padding : 0.75rem;
    border: none;
    border-radius: 1.8rem;
    cursor: pointer;
}
.secondary-cta{
    color: var(--background-dark);
    background-color: var(--white-color);
    margin-left : 1rem;
    border-radius : 2.5rem;
    padding : 1rem ;
    border : none ;
    font-weight: 700;
    border : 1px solid gray;
    cursor: pointer;
}